<script>
$(document).ready(function(){
  $("#inbox_id").show();
  $("#sent_messages_id").hide();
  $(".dropdown-menu a").click(function(){
    if ($(this).text() == "Inbox") {
      $("#inbox_id").show();
      $("#sent_messages_id").hide();
    } else {
      $("#inbox_id").hide();
      $("#sent_messages_id").show();
    }
  });
});
</script>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="#inbox">Inbox</a>
    <a class="dropdown-item" id="#sent_messages">Sent messages</a>
  </div>
</div>


<div id="inbox_id">
  <div style="padding: 10px">
    <h3>Inbox</h3>
    <% @user = current_user %>
  </div>
  <% @messages.each do |message| %>
  <% user = User.find(message.user_id) %>
  <% associate = User.find(message.associate_id) %>
  <% if message.sender_id != @user.id %>
  <div class="row">
    <div class="card col-11">
        <div class="row">
          <div class="col-3" >
            <%= image_tag user.avatar, class: "rounded-circle" %>
          </div>
          <div class="card-body col-9">
            <h4><%= "#{user.firstname} #{user.lastname} " %> </h4>
            <small class="float-sm-right">
              <%= "#{distance_of_time_in_words_to_now(message.created_at)} ago" %>
            </small>
            <br>
            <br>
            <%= message.content %>
          </div>
          <div class="card-footer float-right col-12">
            <%= link_to "View card", user_profile_path(user.id), class: "btn btn-outline-info"%>
            <%= link_to "Reply", message_associate_path(user.id), class: "btn btn-outline-info"%>
            <%= link_to "Remove", message,
            :method => :delete ,
            class: "btn btn-outline-danger"%>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<div id="sent_messages_id">
  <div style="padding: 10px">
    <h3>Sent messages</h3>
  </div>
  <% @sent_messages.each do |message| %>
  <% @user = current_user %>
  <% associate = User.find(message.associate_id) %>
  <% if message.user_id == message.sender_id && message.user_id == @user.id %>
  <div class="row">
    <div class="card col-11">
        <div class="row">
          <div class="col-3" >
            <%= image_tag associate.avatar, class: "rounded-circle" %>
          </div>
          <div class="card-body col-9">
            <h4><%= "Sent to #{associate.firstname} #{associate.lastname} " %> </h4>
            <small class="float-sm-right">
              <%= "#{distance_of_time_in_words_to_now(message.created_at)} ago" %>
            </small>
            <br>
            <br>
            <%= message.content %>
          </div>
          <div class="card-footer float-right col-12">
            <%= link_to "View card", user_profile_path(associate.id), class: "btn btn-outline-info"%>
            <%= link_to "Send message", message_associate_path(associate.id), class: "btn btn-outline-info"%>
            <%= link_to "Remove", message,
            :method => :delete ,
            class: "btn btn-outline-danger"%>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
