<h1 class="pb-2">Edit your profile</h1>
<%= form_with url: update_profile_path do |f| %>
  <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, value: @user.firstname, class: "form-control col-md-3 col-sm-6" %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, value: @user.lastname, class: "form-control col-md-3 col-sm-6" %>
  </div>
  <div>
    <%= f.label :profile_image %>
    <%= f.file_field :avatar, class: "form-control col-md-3 col-sm-6"  %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, value: @user.email, class: "form-control col-md-3 col-sm-6"  %>
  </div>
  <div class="form-group">
    <%= f.label :job_title %>
    <%= f.text_field :job_title, value: @user.job_title, class: "form-control col-md-3 col-sm-6"  %>
  </div>
  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, value: @user.company_name, class: "form-control col-md-3 col-sm-6"  %>
  </div>
  <div class="form-group">
    <%= f.label :biography %>
    <%= f.text_field :biography, value: @user.biography, class: "form-control col-md-3 col-sm-6"  %>
  </div>
  </br>
  <div>
    <%= f.submit "Submit", class: "btn btn-primary"  %>
  </div>
  </br>
  <div>
    <%= link_to "Connect to Google Calendar", google_login_path , class: "btn btn-primary" %>
  </div>
<% end %>
