<h2><%= @user.firstname %> <%= @user.lastname %></h2>
<div>
  <ul>
    <li><%= @user.email %></li>
    <div>
      <% if @user.job_title %>
        <li><%= @user.job_title %></li>
      <% end %>
    </div>
    <div>
      <% if @user.company_name %>
        <li><%= @user.company_name %></li>
      <% end %>
    </div>
    <div>
      <% if @user.biography %>
        <li><%= @user.biography %></li>
      <% end %>
    </div>
  </ul>
  <%= link_to "Edit", edit_profile_path(id: @user.id), class: "btn btn-primary" %>
</div>
