<%= form_with(model: association, local: true) do |form| %>
  <% if association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(association.errors.count, "error") %> prohibited this association from being saved:</h2>

      <ul>
      <% association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :associate_id %>
    <%= form.text_field :associate_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
